<!DOCTYPE html>
<html>
  <head>
    <title>Joyfill for Javascript Example</title>
    <base href=".">
    <meta charset="UTF-8" />
    <style>

      body {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      a {
        border-radius: 100px;
        border: 1px solid #1890ff;
        background-color: #1890ff;
        padding: 12px 24px;
        font-size: 24px;
        color: #fff;
        margin: 12px;
      }

    </style>
  </head>
  <body>
    <a href="/joyfill_pdf" target="_blank">Preview PDF Page</a>
    <a href="/pdf">Generate PDF</a>
  </body>
</html>
