<!DOCTYPE html>
<html>
  <head>
    <title>Joyfill PDFs</title>
    <base href=".">
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/@joyfill/components@latest/dist/joyfill.min.js"></script>
    <style>
      body {
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <div id="joyfill"></div>
    <script>

      const TEMPLATE_IDENTIFIER = '<REPLACE_YOUR_TEMPLATE_IDENTIFIER>';
      const USER_ACCESS_TOKEN = '<REPLACE_USER_ACCESS_TOKEN>';

      const initJoyfill = async () => {

        /**
         * Step 1: Retrieve template from Joyfill API. You can also use your own internal API to load the form data if you're self hosting.
         * - Load Data Server Side - All data can be loaded server side instead of client side. See README.md to learn more.
         */
        const response = await fetch(`https://api-joy.joyfill.io/v1/templates/${TEMPLATE_IDENTIFIER}`, {
          method: 'GET',
          mode: 'cors',
          headers: {
            Authorization: `Bearer ${USER_ACCESS_TOKEN}`,
            'Content-Type': 'application/json'
          },
        });

        if (response.status !== 200) alert('Oops...request failed')
        const template = await response.json();

        Joyfill.JoyDocExporter(
          document.getElementById('joyfill'),
          {
            doc: window.template,
          }
        );

      }

      initJoyfill();

    </script>
  </body>
</html>
